---
layout: default
title: Whitepaper - Moving to Git
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Moving to Git
        %h2.page-subtitle Implement Git to improve collaboration and ship faster

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Technology has the power to change the world. Whether it’s software for a critical medical device or an app that can detect your running speed, technology is constantly changing the way we interact with the world around us.
            %br
            %p To keep up with this pace, modern software development must embrace modern tools and adapt to modern workflows. Migrating to a Distributed Version Control System like Git, and adopting a Git management solution, means you can take advantage of better collaboration, improved code review processes, cheaper branching and integration with modern tools that simplify and secure the software development lifecycle for larger organizations.
            %br

            %h3 What you'll learn in this whitepaper:
            %ul
              %li The difference between Centralized and Distributed Version Control Systems
              %li Why Git should be a part of your strategy
              %li How to choose a Git Management Solution
              %li How to get started with Git
            %br

            %p Download the whitepaper now to take the first step towards a more collaborative, efficient software development lifecycle.


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Download the whitepaper
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{style: "visibility:hidden;"}
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://page.gitlab.com/rs/194-VVC-221/images/gitlab-moving-to-git-whitepaper.pdf" target="_blank">Click here to download the whitepaper.</a>
            %p You will also receive an copy of the whitepaper sent to your inbox shortly.
