---
layout: default
title: Manage your toolchain before it manages you
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Manage your toolchain before it manages you
        %h2.page-headline Reduce toolchain complexity for improved software delivery and quality

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Dev and Ops teams agree: visible, secure, and effective toolchains are difficult to come by.
            
            %p In a 2019 survey of IT professionals conducted by Forrester and sponsored by GitLab, they found that many software development teams are struggling with managing and integrating multiple tools and discrete toolchains. This study dives into the challenges, potential solutions, and key recommendations to manage this evolving complexity.

            %h3 What you’ll learn in this study:
            %ul
              %li Main challenges experienced by development and operations teams due to toolchain complexity
              %li How out-of the-box toolchain management systems combine tactical solutions with strategic benefits
              %li Key recommendations on how you can further optimize software delivery and quality

            %p Download the study to learn how you can improve software delivery and quality by reducing toolchain complexity.
            
          .font-small
            %p Manage Your Toolchain Before It Manages You, a June 2019 commissioned study conducted by Forrester Consulting on behalf of GitLab.

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the study
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://about.gitlab.com/resources/downloads/201906-gitlab-forrester-toolchain.pdf">Click here to download the study.</a>
            %p You will also receive an copy of the study sent to your inbox shortly.