@import "../vendor/bourbon/bourbon";

.in-page-nav-placeholder {
  position: fixed;

  .body--has-in-page-nav-stuck & {
    position: static;
  }
}

.in-page-nav {
  .body--has-in-page-nav-stuck & {
    position: fixed;
    top: 58px;
    width: 100%;
    margin: 0 auto;
    z-index: 5;

    @media (min-width: $screen-sm-min) {
      max-width: $container-sm - 30px;
    }

    @media (min-width: $screen-md-min) {
      max-width: $container-md - 30px;
    }

    @media (min-width: $screen-lg-min) {
      max-width: $container-lg;
    }

    &::before {
      @extend %u-release;
      @include position(absolute, 0);
      background-color: $point-title-color;
      content: "";
    }
  }

  ul {
    position: relative;
    display: flex;
    margin-bottom: 0;
    justify-content: space-around;
    z-index: 5;
  }

  li {
    flex: 1 1 auto;
    border-bottom: 4px solid transparent;

    &.is-active {
      border-color: $purple-section-gradient-to;
    }
  }

  a {
    display: block;
    padding-top: 14px;
    padding-bottom: 12px;
    color: $text-color-light;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      font-size: 15px;
    }

    .body--has-in-page-nav-stuck & {
      color: $color-white;
    }
  }
}

.in-page-nav-placeholder,
.in-page-nav {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
